* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;


}

#jeu {
    width: 70%;
    height: 600px;
    border: inset 18px #9549de;
    border-radius: 20px;
    background-color: #dcfff2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#choice {
    display: flex;
    flex-direction: column;
}

#icone1 {
    font-size: 3em;

}

#icone1:hover {
    cursor: pointer;
    color: #00d0ff;
}

#icone2 {
    font-size: 3em;

}

#icone2:hover {
    cursor: pointer;
    color: #00d0ff;
}

#icone3 {
    font-size: 3em;

}

#icone3:hover {
    cursor: pointer;
    color: #00d0ff;
}

#joueur1 {
    width: 30%;
    height: 50%;
    border: ridge 8px #0083a1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#score {
    width: 15%;
}

#joueur2 {
    width: 30%;
    height: 50%;
    border: ridge 8px #d31111;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}